<a href="https://colab.research.google.com/github/Moacho78/Parcial-2-VD/blob/main/Parcial_2_Visualizacion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Cargar los dos archivos CSV
df1 = pd.read_csv('/content/healthcareTrain.csv')
df2 = pd.read_csv('/content/thyroidDF.csv')

#AGRUPAR EDADES EN EL SEGUNDO DATASET

In [ ]:
def map_age_group(age):
    if age <= 18:
        return 2
    elif age <= 44:
        return 3
    else:
        return 4

# Aplicar la función
df2['Age Group'] = df2['age'].apply(map_age_group)

#Estandarizar a valores descriptivos: "Masculino" y "Femenino"

In [ ]:
df1['Sexo'] = df1['sexN'].map({1: 'Masculino', 2: 'Femenino'})
df2['Sexo'] = df2['sex'].map({'M': 'Masculino', 'F': 'Femenino'})
df1.drop(columns=['sexN'], inplace=True)
df2.drop(columns=['sex'], inplace=True)

In [4]:
# Mostrar columnas de healthcare_df que puedan ser relevantes para aproximar edad o sexo
possible_demographic_cols = [col for col in df1.columns if 'age' in col.lower() or 'sex' in col.lower() or 'gender' in col.lower()]
possible_demographic_cols

['age_grpN', 'sexN', 'age_cat']

In [8]:
# Mostrar columnas de healthcare_df que puedan ser relevantes para aproximar edad o sexo
possible_demographic_cols = [col for col in df2.columns if 'age' in col.lower() or 'sex' in col.lower() or 'gender' in col.lower()]
possible_demographic_cols

['age', 'sex']

In [7]:
# Revisar valores únicos de sexN para entender codificación
df1

,patIndex,pdc,num_ip_post,total_los_post,num_op_post,num_er_post,num_ndc_post,num_gpi6_post,adjust_total_30d_post,generic_rate_post,...,brand_cost,ratio_G_total_cost,numofgen_post,numofbrand_post,generic_cost_post,brand_cost_post,ratio_G_total_cost_post,pdc_80_flag,drug_class,patient_key
0,2393,0.500000,0,0,2,0,3,2,2.333333,1.000000,...,0.000000,1.000000,3,0,39.557654,0.000000,1.000000,0,*ANTIDIABETICS*,322512
1,2148,0.994444,0,0,3,0,17,5,26.500000,1.000000,...,19.553557,0.929937,17,0,547.646290,0.000000,1.000000,1,*ANTIDIABETICS*,291191
2,1799,0.472222,0,0,3,0,3,1,3.000000,1.000000,...,0.000000,1.000000,3,0,8.834483,0.000000,1.000000,0,*ANTIDIABETICS*,251767
3,636,0.166667,0,0,0,0,2,2,2.000000,1.000000,...,243.805101,NaN,2,0,8.100969,0.000000,1.000000,0,*ANTIDIABETICS*,80678
4,114,0.944444,0,0,3,0,12,2,12.000000,1.000000,...,0.000000,1.000000,12,0,50.324328,0.000000,1.000000,1,*ANTIDIABETICS*,16047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,3042,0.166667,1,4,5,0,4,3,3.266667,1.000000,...,0.000000,NaN,4,0,10.571707,0.000000,1.000000,0,*ANTIDIABETICS*,414581
1374,460,0.333333,0,0,0,0,6,3,7.166667,1.000000,...,75.754592,0.811928,6,0,142.484006,0.000000,1.000000,0,*ANTIDIABETICS*,58682
1375,342,0.700000,0,0,12,0,32,16,34.100000,0.648094,...,2278.143238,0.061978,22,10,206.516778,2495.125983,0.076441,0,*ANTIDIABETICS*,42540
1376,1784,0.950000,0,0,6,0,17,8,37.666667,0.796460,...,72.851186,0.942509,14,4,903.283332,486.702794,0.649851,1,*ANTIDIABETICS*,250886
1377,748,0.927778,0,0,14,1,49,15,66.666667,0.955000,...,0.000000,1.000000,46,3,2571.803777,150.341915,0.944771,1,*ANTIDIABETICS*,95201

In [10]:
# Crear función para categorizar edad en thyroidDF con rangos aproximados según 'age_cat' o 'age_grpN'
# Primero veamos valores únicos en age_cat y age_grpN de healthcare_df para tener una referencia (sin ejecutar código ahora por el error)
# Asumiremos rangos comunes: por ejemplo:
# age_cat: 1 = <20, 2 = 20-40, 3=40-60, 4=60+
# sexN: 1 = masculino, 2 = femenino (suposición común, se puede ajustar)

def map_age_group(age):
    if age <= 18:
        return 2
    elif age <= 44:
        return 3
    else:
        return 4

# Aplicar categorías de edad en thyroid_df
df2['age_cat'] = df2['age'].apply(map_age_group)

# Codificar sexo a sexN: asumir 'M' o 'Male' = 1, 'F' o 'Female' = 2, sino 0 (desconocido)
def encode_sex(sex):
    if str(sex).lower() in ['m', 'male']:
        return 1
    elif str(sex).lower() in ['f', 'female']:
        return 2
    else:
        return 0

df2['sexN'] = df2['sex'].apply(encode_sex)

# Realizar la unión por las columnas ['age_cat', 'sexN']
combined_df = pd.merge(df2, df1, on=['age_cat', 'sexN'], how='inner')

combined_df.shape

(1813161, 127)

In [12]:
combined_df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,brand_cost,ratio_G_total_cost,numofgen_post,numofbrand_post,generic_cost_post,brand_cost_post,ratio_G_total_cost_post,pdc_80_flag,drug_class,patient_key
0,29,F,f,f,f,f,f,f,f,t,...,0.000000,1.000000,3,0,8.834483,0.000000,1.000000,0,*ANTIDIABETICS*,251767
1,29,F,f,f,f,f,f,f,f,t,...,5701.740849,0.014254,11,26,141.873644,5723.407449,0.024189,1,*ANTIDIABETICS*,125442
2,29,F,f,f,f,f,f,f,f,t,...,0.000000,1.000000,2,0,14.887737,0.000000,1.000000,0,*ANTIDIABETICS*,289713
3,29,F,f,f,f,f,f,f,f,t,...,0.000000,1.000000,4,0,28.329012,0.000000,1.000000,1,*ANTIDIABETICS*,397428
4,29,F,f,f,f,f,f,f,f,t,...,0.000000,1.000000,5,0,48.530298,0.000000,1.000000,0,*ANTIDIABETICS*,156478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813156,31,M,f,f,f,f,f,f,f,t,...,819.321817,0.533066,6,4,785.681943,1025.635705,0.433763,1,*ANTIDIABETICS*,178395
1813157,31,M,f,f,f,f,f,f,f,t,...,5731.551695,0.140844,40,25,1070.583224,10698.787930,0.090964,1,*ANTIDIABETICS*,109256
1813158,31,M,f,f,f,f,f,f,f,t,...,0.000000,1.000000,11,0,98.953865,0.000000,1.000000,1,*ANTIDIABETICS*,78610
1813159,31,M,f,f,f,f,f,f,f,t,...,75.754592,0.811928,6,0,142.484006,0.000000,1.000000,0,*ANTIDIABETICS*,58682
1813160,31,M,f,f,f,f,f,f,f,t,...,72.851186,0.942509,14,4,903.283332,486.702794,0.649851,1,*ANTIDIABETICS*,250886